.error_container{
    width: 40rem;
    height: 14.3rem;
    background: #FFFFFF;
    box-shadow: 0px 0.4rem 1.2rem rgba(0, 0, 0, 0.1);
    border-radius: 1.2rem;
    padding: 3.6rem 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error_container_title{
    text-align: left;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.7rem;
    /* identical to box height */
    letter-spacing: -0.035em;
}
.error_container_icon{
    height: 80%;
    margin-right: 2rem;
}